// all of the classes created from "WarehouseDetails" are listed in order below, please add classes to the list, even if they're not being used (just comment them out)
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

/* 
// TEMP FOR TESTING WITHOUT HEADER - DELETE WHEN HEADER COMBINATION CONFIRMED
body {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(187, 187, 187);
} 
*/

.main {
    width: calc(100vw - 2rem);
    border-radius: 3px;
    background-color: $White;
}

.title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $Cloud;
    padding: 2rem 1.5rem 1.5rem;

    &__container {
        display: flex;
        align-items: center;
        gap: 0.25rem;
    }

    &__back-icon {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
    }

    &__header {
        @include mobile__page-header;
    }

    &__icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 2.25rem;
        height: 2.25rem;
        background-color: $Instock-Indigo;
        cursor: pointer;
    }

    &__edit-icon {
        width: 1.25rem;
        height: 1.25rem;
    }
}

.wh-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    padding: 1rem 1.5rem;

    @include tablet {
        display: flex;
        flex-direction: row;
    }

    &__container {
        display: flex;
        flex-direction: column;

        &--top-left {
            grid-column: 1 / 3;
        }
    }

    &__label {
        @include mobile__buttons-labels;
        color: $Slate;
    }

    // &__text {
    // }
}

.inv {
    @include tablet {
        display: flex;
        flex-direction: row;
    }

    &__list {
        list-style-type: none;
    }

    &__item {
        padding: 1rem 1.5rem 1.5rem;
        border-top: 1px solid $Cloud;
    }

    &__item-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-flow: column;
        row-gap: 1rem;
    }

    // &__container {
    // }

    &__label {
        @include mobile__buttons-labels;
        color: $Slate;
    }

    &__text {
        &--blue {
            display: flex;
            color: $Instock-Indigo;
            font-weight: 600;
            cursor: pointer;
        }
    }

    &__chevron-icon {
        width: 1.25rem;
        height: 1.25rem;
        cursor: pointer;
    }

    &__icon-container {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }

    &__icon {
        cursor: pointer;
    }
}
