// all of the classes created from "WarehouseDetails" are listed in order below, please add classes to the list, even if they're not being used (just comment them out)

.wh-details {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include tablet {
        display: flex;
        flex-direction: row;
    }

    &__container {
        display: flex;
        flex-direction: column;

        &--top-left {
            grid-column: 1 / 3;
        }
    }

    // &__label {
    // }

    // &__text {
    // }
}

// .inv {
// &__list {
// }

// &__item {
// }

// &__container {
// }

// &__content-container {
// }

// &__label {
// }

// &__text {
// }
// }
