@use "./typography" as *;
@use "./mixins" as *;
@use "./variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Style body element in main.jsx 
body {
  font-family: "Titillium Web";
  font-weight: 400;
  color: $Instock-Black;
  background: linear-gradient(
  $Graphite 12.5rem,
  $Light-Grey 12.5rem
);
  min-height: 100vh;
  margin: 0;
  @include tablet {
    background: linear-gradient(
  $Graphite 11.625rem,
  $Light-Grey 11.625rem
);
  }
}

#root {
  width: 100vw
}

h1 {
  margin: 0;
  @include mobile__page-header;
  @include tablet {
    @include page-header;
  } 
}

h2 {
  margin: 0;
  @include mobile__sub-header;
  @include tablet {
    @include sub-header;
  }
}

h3, label, a, button {
  font-family: inherit;
  margin: 0;
  padding: 0;
  @include mobile__buttons-labels;
  @include tablet {
    @include buttons-labels;
  }
}

a {
  text-decoration: none;
}

h4 {
  margin: 0;
  @include mobile__table-header;
  @include tablet {
    @include table-header;
  }
}

p.p-text--large {
  @include mobile__body-large;
  @include tablet {
    @include body-large;
  }
}

p.p-text--medium {
  @include mobile__body-medium;
  @include tablet {
    @include body-medium;
  }
}

p.p-text--small {
  @include mobile__body-small;
  @include tablet {
    @include body-small;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

