@use "./mixins" as *;
@use "./variables" as *;
@use "./typography";

*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
body,
button,
div,
footer,
form,
h1,
h2,
h3,
h4,
header,
html,
img,
input,
li,
p,
section,
span,
textarea,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Titillium Web", sans-serif;
    color: $Instock-Black;
    @include mobile__body-medium;

    @include tablet {
        @include body-medium;
    }
}
