$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$Instock-Black: #13182c;
$Instock-Indigo: #2e66e5;
$White: #ffffff;

$Slate: #5c667e;
$Cloud: #bdc5d5;

$Graphite: #232940;
$Light-Grey: #f7f8f9;

$Green: #158463;
$Red: #c94515;
