/*Type Kit*/
/*Mobile Type Kit*/
.main {
  border-radius: 3px;
  width: calc(100vw - 2rem);
  background-color: #ffffff;
  box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1019607843);
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .main {
    width: calc(100vw - 4rem);
  }
}
@media screen and (min-width: 1280px) {
  .main {
    width: calc(100vw - 16.25rem);
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bdc5d5;
  padding: 2rem 1.5rem 1.5rem;
}
@media screen and (min-width: 768px) {
  .title {
    padding: 2rem 2rem 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .title {
    padding: 2rem 2.5rem 1.5rem;
  }
}
.title__container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
@media screen and (min-width: 768px) {
  .title__container {
    gap: 0.5rem;
  }
}
.title__link {
  display: flex;
  align-items: center;
}
.title__back-icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.title__header {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .title__header {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
  }
}
.title__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem;
  height: 2.25rem;
  aspect-ratio: 1/1;
  background-color: #2e66e5;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .title__icon-container {
    width: 5rem;
  }
}
.title__edit-icon {
  width: 1.25rem;
  height: 1.25rem;
}
.title__edit-text {
  display: none;
  color: #ffffff;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .title__edit-text {
    display: block;
    margin-left: 4px;
  }
}

.inv-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1.5rem 1.5rem;
}
@media screen and (min-width: 768px) {
  .inv-details {
    display: flex;
    flex-direction: row;
    padding: 1.5rem 2rem 2rem;
    gap: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .inv-details {
    padding: 1.5rem 2.5rem;
  }
}
.inv-details__container--top-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .inv-details__container--top-left {
    gap: 2rem;
    border-right: 1px solid #bdc5d5;
    padding-right: 1.5rem;
    flex: 0 0 50%;
  }
}
.inv-details__container--bottom-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
}
@media screen and (min-width: 768px) {
  .inv-details__container--bottom-right {
    width: 100%;
    row-gap: 2rem;
  }
}
.inv-details__label {
  margin-bottom: 4px;
  font-size: 0.688rem;
  line-height: 1rem;
  font-weight: 400;
  color: #5c667e;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .inv-details__label {
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 400;
    font-weight: 600;
  }
}
@media screen and (min-width: 768px) {
  .inv-details__text {
    display: flex;
    flex-direction: column;
  }
}
.inv-details__status {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.5rem;
  height: 1.5rem;
  border-radius: 1.25rem;
  font-size: 0.688rem;
  line-height: 1rem;
  font-weight: 400;
}
.inv-details__status--green {
  background-color: rgba(21, 132, 99, 0.0705882353);
  color: #158463;
  font-weight: 600;
}
.inv-details__status--red {
  background-color: rgba(201, 69, 21, 0.0705882353);
  color: #c94515;
  font-weight: 600;
}/*# sourceMappingURL=InventoryDetails.css.map */