@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

// #root {
//   position: relative;
//   z-index: -2;
// }

.ReactModal__Overlay--after-open {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $Light-Grey;
  @include tablet {
    opacity: 70%;
    // position: relative;
    // z-index: 0;
  }
}

.ReactModal__Content--after-open {
  border-inline: none;
  // position: absolute;
  // z-index: 1;
}

.modal {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    // z-index: 2;
    @include tablet {
      width: 42rem;
      height: 16.375rem;
      top: 11.5625rem;
    }
    &__content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        padding: 0 1rem;
        // position: absolute;
        // z-index: 5;
    }
    &__text-closeBtn {
      padding-top: 1rem;
      position: relative;
    }
    &__text-container {
      padding: 0 1rem;
      position: absolute;
      top: 3.75rem;
    }
    &__title {
      padding-bottom: 1rem;
      @include mobile__page-header;
      @include tablet {
       @include page-header;
      }
    }
    &__text--large {
      @include mobile__body-large;
      @include tablet {
       @include body-large;
      }
    }
    &__close-icon {
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      right: 1rem;
      &:hover {
        cursor: pointer;
      }
    }
    &__btn-wrapper {
      display: flex;
      gap: 1rem;
      width: 100vw;
      padding: 1.5rem;
      font-family: "Titillium Web", sans-serif;
      @include tablet {
        justify-content: flex-end;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 42rem;
      }
    }
    &__cancel-btn {
      font-family: inherit;
      width: 50%;
      height: 36px;
      gap: 10px;
      border-radius: 20px;
      border: 1px solid $Cloud;
      color: $Slate;
      &:hover {
        color: $Instock-Indigo;
        border: 1px solid $Instock-Indigo;
      }
      @include mobile__buttons-labels;
      @include tablet {
        width: 4.4375rem;
        height: 2.375rem;
        @include buttons-labels;
      }
    }
    &__delete-btn {
      font-family: inherit;
      width: 50%;
      height: 2.25rem;
      border-radius: 20px;
      color: $White;
      background-color: $Red;
      border: none;
      &:hover {
        background-color: $Graphite;
        cursor: pointer;
      }
      @include mobile__buttons-labels;
      @include tablet {
        width: 4.4375rem;
        height: 2.375rem;
        @include buttons-labels;
      }
    }
}
