@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main-inv-add {
    border-radius: 3px;
    width: calc(100vw - 2rem);
    background-color: $White;
    box-shadow: 0px 2px 5px 0px #13182c1a;
    margin: 0 auto;

    @include tablet {
        width: calc(100vw - 4rem);
    }

    @include desktop {
        width: calc(100vw - 16.25rem);
    }
}

.title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.25rem;
    border-bottom: 1px solid $Cloud;
    padding: 2rem 1.5rem 1.5rem;

    @include tablet {
        padding: 2rem 2rem 1.5rem;
        gap: 0.5rem;
    }

    @include desktop {
        padding: 2rem 2.5rem 1.5rem;
    }

    &__link {
        display: flex;

        @include tablet {
            align-items: center;
        }
    }

    &__icon {
        margin-top: 6px;
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;

        @include tablet {
            margin-top: none;
        }
    }

    &__header {
        @include mobile__page-header;

        @include tablet {
            @include page-header;
        }
    }
}

.inventoryform {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem 1.5rem;

    @include tablet {
        margin: 1.5rem 0;
        padding: 0 2rem;
    }
    @include desktop {
        padding: 0 2.5rem;
    }

    &--border {
        border-bottom: 1px solid $Cloud;

        @include tablet {
            border-right: 1px solid $Cloud;
            border-bottom: none;
        }
    }

    &__title {
        @include mobile__sub-header;
        margin-bottom: 1.5rem;

        @include tablet {
            margin-bottom: 2rem;
        }
    }
    &__label {
        @include mobile__buttons-labels;
        margin-bottom: 4px;
    }
    &__input-name,
    &__input-description,
    &__input-category,
    &__input-quantity,
    &__input-warehouse {
        @include mobile__buttons-labels;
        border-radius: 1.25rem;
        height: 2.25rem;
        width: 100%;
        padding-left: 1rem;
        border-color: $Cloud;
        color: $Slate;
        background-color: $White;
        font-weight: 400;
        margin-bottom: 1rem;
        font-family: "Titillium Web", sans-serif;
        appearance: none;
        padding-left: 1rem;

        &--error {
            border-color: $Red;
        }

        @include tablet {
            @include buttons-labels;
            font-weight: 400;
            margin-bottom: 1.5rem;
        }
    }

    &__input-category,
    &__input-warehouse {
        background-image: url(../../assets/Icons/arrow_drop_down-24px.svg);
        background-repeat: no-repeat;
        background-position: 97%;
        margin-bottom: 0;
    }

    &__dropdown-wrapper {
        display: flex;
        flex-direction: column;

        .inventoryform__label {
            margin-bottom: 4px;
        }
    }

    &__input-quantity {
        @include desktop {
            width: 20%;
        }
    }

    &__input-description {
        height: 120px;
        font-family: "Titillium Web", sans-serif;
        color: $Slate;
        resize: none;

        @include mobile__buttons-labels;
        font-weight: 400;
        padding: 8px 1rem;
    }

    &__buttons {
        background: #f7f8f9;
        display: flex;
        padding: 1rem 24px;
        justify-content: space-between;
        gap: 1rem;

        @include tablet {
            grid-column: 1 / 3;
            justify-content: flex-end;
            gap: 1rem;
            padding: 1rem 2rem;
        }

        @include desktop {
            padding: 1rem 2.5rem;
        }
    }

    &__button-cancel,
    &__button-add {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        border-radius: 1.25rem;
        column-gap: 0.5rem;
        background-color: $Light-Grey;
        flex-grow: 1;
        font-weight: 600;

        @include tablet {
            flex: 0 0 auto;
            height: 2.375rem;
            width: auto;
        }
    }
    &__button-cancel {
        height: 2.25rem;

        border-color: $Cloud;
        background-color: $White;
        color: $Slate;
        &:hover {
            border-color: $Instock-Indigo;
            color: $Instock-Indigo;
            font-weight: 600;
        }
        @include tablet {
            height: 2.375rem;
            width: auto;
        }
    }
    &__button-add {
        background-color: $Instock-Indigo;
        color: $White;
        border-color: $Instock-Indigo;
        &:hover {
            background-color: $Graphite;
            border-color: $Graphite;
        }
        @include tablet {
            height: 2.375rem;
            width: auto;
        }
    }
}

input,
textarea,
select {
    box-shadow: none;
    outline: none;
    border: 1px solid;

    &:focus {
        box-shadow: none;
        outline: none;
        border-color: $Instock-Indigo;
    }
}

.inventoryform-card {
    @include tablet {
        //  display: flex;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
    }
}

.inventoryform__radiobutton {
    display: flex;
    justify-content: space-between;
    width: 100%;

    label {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-bottom: 1rem;
        width: 100%;
        font-weight: 400;
        color: $Slate;

        &.inventoryform__label--selected {
            color: $Instock-Black;
        }

        @include tablet {
            margin-bottom: 1.5rem;
        }
    }
}

.inventoryform__error-message {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    color: $Red;
    margin: -0.75rem 0 0.25rem;

    @include tablet {
        margin: -1.25rem 0 0.25rem;
    }

    &--dropdown {
        margin: 0.25rem 0 0.25rem;
    }

    &-icon {
        height: 16px;
        margin-right: 0.25rem;
    }
}
