@use '../../styles/partials/typography' as *;
@use '../../styles/partials/globals' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

*{
    padding: 0rem;
    margin: 0rem;
}

.warehouseform-container {
    background-color: $White;
    box-shadow: 0px 2px 5px 0px #13182c1a;
    width: 90vw;
    margin: auto;
    &__top {
        display: flex;
        padding-left: 1rem;
        border-bottom: .0625rem $Cloud solid;
    }
    &__title {
        padding: 1.5rem;
    }
    
}
.warehouseform-card {
    @include tablet {
        display: flex;
        justify-content: space-evenly;
    }
}

.warehouseform {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    row-gap: 0.25rem;
    @include tablet {
        width: 100%;
        border-right: .0625rem $Cloud solid;
        margin-top: 1rem;
    }
    @include desktop {
        padding-left: 3.9375rem;
        padding-right: 3.9375rem;
    }
    &__title {
        @include mobile__sub-header;
        padding-left: 0.5rem;
    }
    &__label-name, &__label-street, &__label-city, &__label-country  {
        @include mobile__buttons-labels;
        padding-left: 0.5rem;
    }
    &__input-name, &__input-street, &__input-city, &__input-country {
        @include mobile__buttons-labels;
        border-radius: 1.25rem;
        height: 2.25rem;
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        border-color: $Cloud;
        color: $Slate;
        background-color: $Light-Grey;
        font-weight: 400;
        margin-bottom: 1rem;

    }
}

.whcontactform {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    row-gap: 0.25rem;
    @include tablet {
        width: 100%;
        margin-top: 1rem;
    }
    @include desktop {
        padding-left: 3.9375rem;
        padding-right: 3.9375rem;
    }
    &__title {
        @include mobile__sub-header;
        padding-left: 0.5rem;
    }
    &__label-contact, &__label-position, &__label-phone, &__label-email  {
        @include mobile__buttons-labels;
        padding-left: 0.5rem;
    }

    &__input-contact, &__input-position, &__input-phone, &__input-email  {
        @include mobile__buttons-labels;
        border-radius: 1.25rem;
        height: 2.25rem;
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 1rem;
        border-color: $Cloud;
        color: $Slate;
        background-color: $Light-Grey;
        font-weight: 400;
        @include tablet {
            width: auto;
        }
    }
}

.warehouseform__button {
    display: flex;
    justify-content: center;
    padding: 1rem;
    column-gap: 0.5rem;
    background-color: $Light-Grey;
    @include tablet {
        justify-content: flex-end;
       
    }
    &-cancel {
        height: 2.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 1.25rem;
        border-color: $Cloud;
        background-color: $White;
        color: $Slate;
        width: 100%;
        &:hover {
            border-color: $Instock-Indigo;
            color: $Instock-Indigo;
        }
        @include tablet {
            height: 2.375rem;
            width: auto;
        }
        @include desktop {
           margin-left: 3.9375rem;
        }
    }
    &-add {
        height: 2.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 1.25rem;
        background-color: $Instock-Indigo;
        color: $White;
        border-color: $Instock-Indigo;
        width: 100%;
        &:hover {
            background-color: $Graphite;
            border-color: $Graphite;
        }
        @include tablet {
            height: 2.375rem;
            width: auto;
        }
        @include desktop {
            margin-right: 3.9375rem
        }
    }
}