/*Type Kit*/
/*Mobile Type Kit*/
@font-face {
  font-family: "Titillium Web";
  src: url("/src/assets/fonts/TitilliumWeb-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Titillium Web";
  src: url("/src/assets/fonts/TitilliumWeb-SemiBold.ttf");
  font-weight: 600;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
body,
button,
div,
footer,
form,
h1,
h2,
h3,
h4,
header,
html,
img,
input,
li,
p,
section,
span,
textarea,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  color: #13182c;
  background: linear-gradient(#232940 12.5rem, #f7f8f9 12.5rem);
  min-height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  font-size: 0.813rem;
  line-height: 1.25rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  body {
    background: linear-gradient(#232940 11.625rem, #f7f8f9 11.625rem);
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}

#root {
  width: 100vw;
}

* {
  margin: 0;
}

.main {
  width: 100%;
  padding: 0 1rem;
  position: relative;
}

.warehouse {
  position: absolute;
  width: 90%;
  padding: 0 1.5rem;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .warehouse__header {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .warehouse {
    padding-left: 2rem;
  }
}
.warehouse__heading {
  color: #13182c;
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 600;
  padding: 2rem 1.5rem 1rem;
}
@media screen and (min-width: 768px) {
  .warehouse__heading {
    padding: 0;
    padding-top: 2rem;
    padding-bottom: 1.375rem;
  }
}
.warehouse__search-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1.5rem 1rem;
  padding-top: 0;
  border-bottom: 1px solid #bdc5d5;
}
@media screen and (min-width: 768px) {
  .warehouse__search-container {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    border-bottom: none;
    padding-top: 2rem;
  }
}
.warehouse__search {
  border: none;
  color: #5c667e;
  border: 1px solid #bdc5d5;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .warehouse__search {
    width: 185px;
    height: 38px;
  }
}
@media screen and (min-width: 1280px) {
  .warehouse__search {
    width: 17.125rem;
  }
}
.warehouse__add-warehouse-button {
  background-color: #2e66e5;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  width: 100%;
  height: 2.25rem;
  font-size: 0.813rem;
  line-height: 1.25rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .warehouse__add-warehouse-button {
    padding-top: 8px 16px;
    width: 168px;
    height: 38px;
  }
}

.warehouse-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.warehouse-list__table-components {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .warehouse-list__table-components {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.warehouse-list__content {
  width: 50%;
}
.warehouse-list__content:nth-child(1) {
  order: 1;
}
.warehouse-list__content:nth-child(2) {
  order: 2;
}
.warehouse-list__content:nth-child(3) {
  order: 3;
}
.warehouse-list__content:nth-child(4) {
  order: 4;
}
@media screen and (min-width: 768px) {
  .warehouse-list__content:nth-child(1) {
    order: 1;
  }
  .warehouse-list__content:nth-child(2) {
    order: 3;
  }
  .warehouse-list__content:nth-child(3) {
    order: 2;
  }
  .warehouse-list__content:nth-child(4) {
    order: 4;
  }
}

@media screen and (min-width: 768px) {
  .warehouse-list__item:first-child .warehouse-list__label {
    display: unset;
  }
  .warehouse-list__label {
    display: none;
  }
}

.warehouse-list__item {
  list-style: none;
  background-color: #ffffff;
}
.warehouse-list__link {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.warehouse-list__link #warehousenamecolor {
  color: #2e66e5;
  font-weight: 600;
}
.warehouse-list__label {
  color: #5c667e;
  font-size: 0.688rem;
  line-height: 1rem;
  font-weight: 400;
  font-weight: 600;
  padding-top: 1rem;
  padding-bottom: 0.25rem;
}
@media screen and (min-width: 768px) {
  .warehouse-list__label {
    background-color: #f7f8f9;
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 400;
    font-weight: 600;
  }
}
.warehouse-list__text {
  font-size: 0.688rem;
  line-height: 1rem;
  font-weight: 400;
  color: #13182c;
}
@media screen and (min-width: 768px) {
  .warehouse-list__text {
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 400;
    padding-top: 1.5rem;
  }
}
.warehouse-list__item {
  border-bottom: 1px solid #bdc5d5;
}
.warehouse-list__item:hover {
  background-color: #2e66e5 7%;
}
.warehouse-list__icon-container {
  display: flex;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .warehouse-list__icon-container {
    justify-content: flex-end;
  }
}
.warehouse-list__sortIcon {
  display: none;
  width: 1rem;
  height: 1rem;
}
@media screen and (min-width: 768px) {
  .warehouse-list__sortIcon {
    display: inline-block;
    background-color: #f7f8f9;
  }
}
.warehouse-list__chevron {
  height: 1.25rem;
  width: 1.25rem;
  display: inline-block;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .warehouse-list__chevron {
    transform: translateY(62%);
  }
}

.warehouse-list__content-action {
  display: flex;
}

.warehouse-list__label--action-label {
  display: none;
}
@media screen and (min-width: 768px) {
  .warehouse-list__label--action-label {
    display: inline-block;
    color: #5c667e;
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 400;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 0.25rem;
    background-color: #f7f8f9;
  }
}

.warehouse-list__searchIcon {
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: 5px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.warehouse__search-subcontainer {
  position: relative;
  display: flex;
  align-items: flex-end;
  gap: 5px;
}/*# sourceMappingURL=warehouse.css.map */