@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.main__inventory {
    width: 100%;
    padding: 0 1rem;
    position: relative;
    // .inventory {
        // @include tablet {
        //     display: flex;
        //     flex-direction: column;
        // }
        // &__td-container {
        //     display: none;
    
        //     @include tablet {
        //         display: flex;
        //         padding: 0 2rem;
        //         height: 2.5rem;
        //         background-color: $Light-Grey;
        //     }
    
        //     @include desktop {
        //         padding: 0 2.5rem;
        //     }
        // }
    
        // &__td-content {
        //     display: flex;
        //     align-items: center;
        //     flex: 1 1 21.25%;
    
        //     &--right {
        //         flex: 1 1 15%;
        //         justify-content: flex-end;
        //     }
        // }
    
        // &__td-label {
        //     @include body-small;
        //     color: $Slate;
        //     font-weight: 600;
        // }
    
        // &__td-icon {
        //     height: 1rem;
        //     // aspect-ratio: 1 / 1;
        //     cursor: pointer;
        // }
//         &__list {
//             list-style-type: none;
//         }
    
//         &__item {
//             padding: 1rem 1.5rem 1.5rem;
//             border-top: 1px solid $Cloud;
//             list-style-type: none;
    
//             @include tablet {
//                 display: flex;
//                 padding: 1rem 2rem;
//                 border-top: none;
//                 border-bottom: 1px solid $Cloud;
//             }
    
//             @include desktop {
//                 padding: 1rem 2.5rem;
//             }
//         }

//         &__item-container {
//             display: flex;
//             flex-wrap: wrap;

//             @include tablet {
//                 align-items: center;
//                 width: 85%;
//             }
//         }
    
//         &__container {
//             @include tablet {
//                 width: 25%;
//             }
//         }
    
//         &__label {
//             @include mobile__body-small;
//             color: $Slate;
//             font-weight: 600;
    
//             @include tablet {
//                 display: none;
//             }
//         }
//         // &__status-wrapper {
            
//         // }
//         &__text {
//             &--blue {
//                 display: flex;
//                 color: $Instock-Indigo;
//                 font-weight: 600;
//                 cursor: pointer;
//             }
//         }
    
//         &__inline-icon {
//             display: flex;
//         }
    
//         &__chevron-icon {
//             width: 1.25rem;
//             height: 1.25rem;
//             cursor: pointer;
//         }
    
//         &__icon-container {
//             display: flex;
//             justify-content: space-between;
//             margin-top: 1rem;
    
//             @include tablet {
//                 justify-content: flex-end;
//                 gap: 1rem;
//                 margin-top: 0;
//                 width: 15%;
//             }
//         }
    
//         &__icon {
//             cursor: pointer;
//         }
//     }
}

.inventory {
    display: flex;
    flex-direction: column;
    background-color: $White;
    width: 90%;
    position: absolute;
    padding: 0 1.5rem;
    &__title {
        padding-top: 2rem;
        @include mobile__page-header;
        @include tablet {
            @include page-header;
        }
    }
    &__CTA-field-container {
        display: flex;
        flex-direction: column;
        // padding: 1rem;
        .input-field {
            background-image: url("../../assets/Icons/search-24px.svg");
            background-repeat: no-repeat;
            background-position: top .375rem right .375rem;
            background-size: 1.5rem;
            border-radius: 1.25rem;
            border: 1px solid $Cloud;
            width: 100%;
            height: 2.25rem;
            margin: 1rem 0;
            &::placeholder {
                padding: .5rem 1rem;
            }
        }
    }
    .add-button {
        color: $White;
        background-color: $Instock-Indigo;
        border-radius: 1.25rem;
        height: 2.25rem;
        border: none;
        margin-bottom: 1.5rem;
        padding: .5rem 0;
    }
    &__list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
    }
    &__item {
        display: flex;
        flex-direction: column;
        width: 100%;
        
        @include tablet {
            flex-direction: row;
        }
    }
    &__table-components {
        display: flex;
        flex-wrap: wrap;
    }
    &__content {
        width: 50%;
        &:nth-child(1) {
            display: flex;
        }
    }
    &__icon-container {
        display: flex;
        justify-content: space-between;
    }
}


